#p-logo {
  display: none;
}

.homepage #p-logo { display: block; }

#column-content {
  margin-left: 20px;
}

#p-logo > a {
  background-image: url(/wikistatic/skins/hawiki/logo2.gif) !important; 
}

.homepage #p-cactions {
  background: rgb(41,56,69);
  position: relative; 
}

.noticeArea { background: red; }

#topbar { background: rgb(41,56,69) url(/wikistatic/hslogo-16g.gif) no-repeat 5px 5px; }

.wrap { height: 1%; margin: 0 auto; }
.c1, .c2, .c3 { position: relative; width:30%; float:left; display:inline; }
.cols3 { float:none; }

