#column-one {
	width: 199px;
	/* float: right; */
	position: absolute;
	top: 80px;
	right: 0;
	border-left: 1px solid #ddd;
	padding: 0.5em;
	z-index: 1;
	background: white;
}
#column-content {
	margin-right: 220px;
}
#jump-to-nav {
	display: none;
}
#footer {
	padding-right: 220px;
	z-index: 0;
}