#column-one {
	padding: 0.5em;
	border-top: 1px solid #ddd;
	background: #f0f0f0;
}
#column-one > div {
	margin: 0.5em;
}

#column-one div ul, #column-one div li {
	display: inline;
}
#column-one div li {
	margin-left: 1em;
}