#p-logo {
	display: none;
}
#topbar {
	/* @embed */
	background: rgb(41,56,69) url(hslogo-16.png) no-repeat 5px 5px;
}
#column-content {
	margin-left: 0;
	margin-right: 0;
}
.homepage .bg-image {
	padding: 0.5em 1em;
}
.homepage .intro {
	margin-right: 1em;
}